*{
    font-family: 'Montserrat', sans-serif;
    /* margin:0; */
    /* background-color: black; */
    overflow: hidden ;
}
body{
    background-color: black;
    color:white;

}

.main{
    display: flex;
    height:100vh;
    padding:0.5rem;
    
}
.sidebar{
    width:340px;
    border-radius: 1rem;/*rem=16px*/
    background-color: black;
    margin-right: 0.5rem;
    

}
.main_content{
    flex:1;
    overflow: auto;
    background-color: #121212;
    padding:0 1.5rem;

}
.music_player{
    position: fixed;
    bottom:0px;
    width:100vw;
    height:72px;
    background-color: black;
}
a{
    text-decoration: none;
    color:#ffffff;
}
.nav{
    background-color: #121212;

    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:100px;
    padding:0.5rem 0.75rem;


}
.nav-option{
    line-height:2.5rem ;
    opacity: 0.5;
    padding:0.5px 0.75px;
}
.nav-option:hover{
    opacity: 1 ;
}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top:0.5rem;
    padding: 0.5rem 0.75rem;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lib-option img{
    height:1.25rem;
    width:1.25rem;
}
.icons{
    font-size: 1.25rem;
    display: flex;
}
 .icons i {
    opacity:0.7;
    margin-right:1rem;
 }
 .icons i:hover{
    opacity:1;
 }
 .box{
    background-color: #232323;
    height:8rem;
    border-radius: 0.75rem;
    margin:0.5rem 0 1.75rem 0;
    padding:0.75rem 1rem;
 }
 .box-p1{
    font-size:1rem;
    font-weight: 500 ;
    margin:0.55rem 0;
    font-weight:700 ;



 }
 .box-p2{
    font-size: 0.75rem;
    opacity:0.9;
    font-weight:700 ;

 }
 .badge{
    background-color: white;
    border:none;
    border-radius: 100px;
    padding:0.25rem 1rem;
    font-weight:700 ;
    margin-top:0.5rem;
    height:2rem; 
    width:fit-content;
 }
 .sticky-nav{
    position: sticky;
    top:0px;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 0;  
    z-index: 10; 

}
.sticky-nav-icon{
    margin-left:0.75rem;
}
.sticky-nav-options button{
    /* display:flex; */
    justify-content: center;
    align-items: center;
}
.nav-item{
margin-right:1rem;

}
.dark-badge{
    background-color: black;
    color:white;
}
.card{
    background-color: #232323;
    width:150px;  
    border-radius: 0.50rem;
    padding:1rem;
    margin:0.5rem;
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
}

.card-img{
    width:100%;
    border-radius: 0.50rem;

}
.card-title{
    font-weight: 600;
}
.card-info{
    font-size: 0.85rem;
    opacity: 0.5;
}
.footer{
    height:300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width:90%;
    height:38%;
    border-top:1px solid white;
    opacity: 0.4;

}
.music_player{
    display: flex;
    align-items: center;
    justify-content: center;
}
.album{
    width:25%;
 
}
.player{
    width:50%;
}
.player-control{
    display: flex;
    align-items:center;
    justify-content: center;
}


.control{
    width:25%;

}
.player-control-icon{
    height:1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
}
.player-control-icon:hover{
    opacity:1;
}
.playback-bar{
    /* display: flex; */
    align-items: center;
    justify-content:center ;
    width:70%;
    cursor: pointer;




}.progress-bar{
    width:70%;
    appearance: none;
    margin:0 auto;
}
/* .playback-bar::-webkit-slider-runnable-track{
    background-color:#ddd ;
    border-radius: 100px;
    height:0.5rem;
} */
/*   */
.album{
    display: flex;
    /* justify-content:space-between; */
    align-items: center;
}
.album img{
    height:3rem;
    width:3rem;
    margin:1rem 0.5rem;
    border-radius: 0.5rem;
}
.album-des{
    height:3rem;
}
.album-des p{
    margin:0;
}
.ablum-des-head{
    font-size: 1.25rem;
    font-weight: 600;
    margin:0;
}
.ablum-icon{
    position: relative;
    left: 1.75rem;
}
.ablum-icon i{
   margin-left: 0.5rem;
}
.control-icon{
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}
.control-range{
    height:0.25rem;
    background-color: white;
    width:5rem;
    margin-right: 4.7rem;
    border-radius: 1rem;
}


